streamlit
python-dotenv
langchain==0.2.17
langchain-community==0.2.19
langchain-core==0.2.43
langchain-chroma==0.1.4
langchain-groq
langchain-huggingface
chromadb==0.5.23
sentence-transformers
transformers
torch
unstructured
lxml
beautifulsoup4
requests
